@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
.header {
    grid-area: h;
    background: -webkit-linear-gradient(308deg, #20604f,#ce2939);background: linear-gradient(308deg, #20604f,#2a8b8e,#ce2939);
    border-radius: 8px;
}

.title{
    font-family: 'Architects Daughter', cursive;
    font-size: 40px;
    margin-left: 15px;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}
.loginBlock{
    float: right;
}
.loginBlock a{
    color: #ffffff;
}