.photo {
    width: 70px;
    border-radius: 50%;
}

.numbersPage {
    font-size: 30px;
    color: #d2cd90;

}

.selected {
    font-weight: bold;
    cursor: pointer;
    color: #888107;

}

.pagination {
    margin: 5px;
}

.numbersPage:hover {
    cursor: pointer;
}
