@import 'src/styles/variables';

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #271802;
  color: #ededf7;
  margin-bottom: 30px;
  padding: 10px 0;
  box-shadow: 0 1px 5px -1px $accentColor;

  .logo{
   height: 70px;
  }

  a {
    font-weight: bold;
    color: orangered;
  }
}